/* HTML Body Style */
body {
    height: 100vh;
    background-color: rgb(17, 0, 28);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Game Styling */
div.game {
    display: flex;
    flex-direction: column;
    /* height: 95vh; */
    width: 95vw;
}

/* Header */
div.game_header {
    height: 0%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    margin-top: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    visibility: hidden;
}

/* Game Main Content */
div.game_main {
    height: 80%;
    display: flex;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    gap: 5vw;
}

div.tetrino_main {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 4vw; */
}

canvas.canvas {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(220deg, #653b005b, #796b0032);
    border-style: solid;
    border-width: 0.7vw;
    border-image: linear-gradient(#ffaa00, #ffff90);
    border-image-slice: 1;
    box-shadow: -2px 10px 50px -10px #ffa20062,
        10px -2px 50px -10px #ffa20062;
}

div.tetrino_score {
    padding-top: 5vh;
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;

}

div.tetrino_score_widget {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0.3vh;
    border-style: solid;
    border-image: linear-gradient(#ffaa0099, #fff690ac);
    border-image-slice: 1;
}

#widget_score {
    height: 15%;
    width: 100%;
    background-color: #ffa2000e;
}

#widget_level {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 12%;
    width: 100%;
    background-color: #ffa2000e;
}

#widget_lines {
    height: 12%;
    width: 100%;
    background-color: #ffa2000e;
}

#widget_blank_space {
    height: 53%;
    width: 100%;
    border: transparent;
}

#btn_about {
    height: 8%;
    width: 100%;
}

#btn_about_description {
    height: 100%;
    width: 100%;
}

#btn_about:hover {
    border-color: #09ff00;
    background-color: #7b0044;
    color: #8aff9f;
    cursor: pointer;
}

div.widget_description {
    color: #ffd000;
    width: 100%;
    height: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 600;
}

div.widget_value {
    color: #bbffb9;
    width: 100%;
    height: 60%;
    font-size: 4vw;
    /* background-color: rgba(62, 62, 62, 0.197); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
div.game_footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 4vw;
    gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

div.game_controls {
    color: #ffd000;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0.3vh;
    border-style: solid;
    border-image: linear-gradient(#ffaa0099, #fff690ac);
    border-image-slice: 1;
    font-size: 10vw;
    font-weight: 800;
}

div.game_controls:active {
    background-color: #ff8c00;
    cursor: pointer;
}

div.about_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: transparent;
}

div.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 85vw;
    background-color: #260054;
    box-shadow: 2px 0px 82px 27px rgba(24, 1, 60, 0.84);
}

div.about_logo {
    color: rgb(255, 195, 110);
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(255, 170, 114);
    padding: 3vh;
}

@keyframes testanim {}

div.about_logo:hover {
    cursor: pointer;
    transition-duration: 0.7s;
    /* transform: rotate(360deg); */
    transform: scale(1.5) skew(15deg, 15deg);
    /* color: transparent;
    animation: testanim 5s infinite; */

}

div.about_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

div.about_content {
    /* border-top: 1px solid red;
    border-bottom: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

div.about_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-justify: auto;
    width: 100%;
    height: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6vh;
}

a.infocredits {
    color: #09ff00;
}

a.infocredits:hover {
    color: #FA4DAC;
}

div.gameover_wrapper {
    background-color: #000000b1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

div.gameover {
    color: #09ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 70vw;
    background-color: #000000;
    border-style: solid;
    border-width: 0.2vh;
    border-image: linear-gradient(#7c7c7c, #ececec);
    border-image-slice: 1;

}

div.gameover_main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.gameover_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%
}

div.resetbutton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 30%;
    position: fixed;
    border: solid 1px rgb(85, 85, 85);
    background-color: #000000
}

div.resetbutton:hover {
    background-color: #252525;
    cursor: pointer;
}




/* Desktop Styling */
@media only screen and (min-width: 900px) and (orientation: landscape) {
    div.game {
        width: 20vw;
        height: 100vh;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
    }

    div.game_header {
        height: 10%;
        font-size: 3vw;
        letter-spacing: 0.1vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
        background-color: transparent;
        border-style: none
    }

    div.game_main {
        display: flex;
        height: 80%;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
        gap: 2vw;
    }

    div.tetrino_main {
        width: 80%;
    }

    div.tetrino_score {
        width: 20%;
    }

    div.game_footer {
        height: 10%;
        visibility: hidden;
        border: 0px;
        background: transparent;
        height: 10%;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
    }

    div.widget_description {
        font-size: 1.6vh;
        letter-spacing: 0.05vh;
    }

    div.widget_value {
        font-size: 1vw;
    }

    div.game_controls {
        border: 0px;
        font-size: 4vw;
        width: 80%;
        height: 70%;
    }

    canvas.canvas {
        border-style: solid;
        border-width: 0.3vh;
        box-shadow: -2px 10px 20px -5px #ffa20062,
            10px -2px 20px -5px #ffa20062;
    }

    div.about {
        height: 50vh;
        width: 40vw;
    }

    div.about_header {
        width: 100%;
        height: 10%;
    }

    div.about_content {
        width: 100%;
        height: 90%;
    }

    div.about_footer {
        width: 100%;
        height: 10%;
        font-size: 1.4vh;
    }

    a.infocredits {
        color: #09ff00;
    }

    a.infocredits:hover {
        color: #FA4DAC;
    }

    div.gameover {
        height: 50vh;
        width: 40vw;
        border-width: 0.2vh;
    }

    div.gameover_main {
        height: 70%;
        width: 100%
    }

    div.gameover_footer {
        height: 30%;
        width: 100%
    }

    div.resetbutton {
        height: 3%;
        width: 5%;
    }
}