<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tetrino</title>
    <script src="{% static 'tetrinoapp/main.js' %}" type="module"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'tetrinoapp/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tetrinoapp/tetrino.css' %}">
</head>

<body>
    <div class="gameover_wrapper" style="visibility: hidden;" id="gameover">
        <div class="gameover">
            <div class="gameover_main">
                <span>Game Over</span>
            </div>
            <div class="gameover_footer">
                <div class="resetbutton" id="resetbutton">
                    Reset
                </div>
            </div>
        </div>
    </div>

    <div class="about_wrapper" id="game_about" style="visibility: hidden;">
        <div class="about">
            <div class="about_header">
            </div>
            <div class="about_content">
                <div class="testdiv">
                    <h1>Tetris</h1>
                </div>

            </div>
            <div class="about_footer">
                <span>Created by
                    <a class='infocredits' href="https://github.com/calmingteabag">calmingteabag</a> for <b>LEARNING</b>
                    purposes, all credits
                    goes to
                    original creators.
                </span></br>
                <span> Tecnologies used: <a class='infocredits' href="https://www.djangoproject.com/">Django</a>, <a
                        class='infocredits' href="https://www.heroku.com/">Heroku</a>, Python and Vanilla
                    Javascript.
                </span>
            </div>
        </div>
    </div>



    <div class="game">
        <div class="game_header">
        </div>
        <div class="game_main">
            <div class="tetrino_main" id="">
                <canvas class="canvas" id="gamecanvas" width="" height=""></canvas>
            </div>
            <div class="tetrino_score" id="score">
                <div class="tetrino_score_widget" id="widget_score">
                    <div class="widget_description">
                        <span>Score</span>
                    </div>
                    <div class="widget_value" id="game_score">0</div>
                </div>
                <div class="tetrino_score_widget" id="widget_level">
                    <div class="widget_description">Level</div>
                    <div class="widget_value" id="game_level">1</div>
                </div>
                <div class="tetrino_score_widget" id="widget_lines">
                    <div class="widget_description">Lines</div>
                    <div class="widget_value" id="line_score">0</div>
                </div>
                <div class="tetrino_score_widget" id="widget_blank_space">

                </div>
                <div class="tetrino_score_widget" id="widget_about">
                    <div class="widget_description" id="widget_about_description">About</div>

                    <!-- <div class="tetrino_score_widget" id="widget_next_tetrino">
                    <div class="widget_description">Next</div>
                    <div class="widget_value"></div>
                </div> -->

                </div>

            </div>

        </div>
        <div class="game_footer">
            <div class="game_controls" id="control_left">⇦</div>
            <div class="game_controls" id="control_down">⇩</div>
            <div class="game_controls" id="control_rotate">↻</div>
            <div class="game_controls" id="control_right">⇨</div>
        </div>
</body>

</html>